/* Color Variables */
$bg-color: #e5e5e5;
$text-color:#4a4a4a;
$text-light:#999999;
$ltGreen: #289d59;
$dkGreen: #207a46;
$ltBrown: #c28238;
$dkBrown: #7b4722;
$olive: #aaa116;
$rust:#b74f0e;

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Press+Start+2P');
$font-stack:'Press Start 2P', cursive;
$font-stack-alt:'Amatic SC', cursive;